extends layout

block content
    h1 Chat app
    #chat-containter
        #chat-header(class='rounded') Your username: 
            span#username
        #chat-window(class='rounded')
            #output
        input#message(class='rounded' type='text', placeholder='Type message here...' autofocus)
        button#send(class='rounded') Send
