body {
    font-size: 0.9em;
    font-family: Helvetica, Arial;
    margin: 0;
    padding: 1em;
    background: #ededed;
}

h1 { text-align: center }

#chat-containter {
    max-width: 700px;
    margin: auto;
    padding: 1em;
    box-shadow: 0 0 20px 0 rgba(66, 66, 66, 0.2);
}

#chat-header {
    padding: 10px;
}

#chat-window {
    height: 320px;
    overflow: auto;
    background: #f9f9f9;
    margin-bottom: 10px;
}

#output p {
    padding: 5px 0px;
    margin: 0 10px;
    color: #555;
}

#username {
    color: #4896D1;
    font-size: 1.2em;
    font-weight: bold;
}

.timestamp {
    font-size: 0.8em;
    color: light-grey;
}

.user {
    color: #4896D1;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: inline-block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button{
    background: #4896D1;
    color: #fff;
    font-size: 1em;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}

button:active {
    background: #63a9dd;
}

.rounded {
    border-radius: 3px 3px 3px 3px;
}

@media only screen and (min-width: 550px) {
    input { width: 70%; }
    button { width: 30%; }
}

@media only screen and (min-height: 730px) {
    #chat-window {
        height: 500px;
    }
}
